/* Header (profile img / name) */
.profileHeader {
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: #ff9900;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 2em;
}
