/* Nav Bar */
nav {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar {
  font-family: "Bungee", cursive;
  color: #ffff;
  display: flex;
  height: 120px;
  justify-content: space-between;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.logo {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  margin-bottom: 0.5em;
}

.newTweet {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22.5px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1em;
  border: none;
  background: transparent;
  color: white;
}

.fa-angle-double-down {
  color: red;
}
