.new-tweet {
  font-family: "Source Sans Pro", sans-serif;
  display: none;
}

#new-text {
  width: 100%;
  background-color: #f4f1ec;
  padding: 4px;
  font-size: 0.75em;
  border: none;
  border-bottom: 3px solid #545149;
}

#new-text:focus {
  outline: none;
}

.submitLine {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
  font-size: 0.75em;
}

.submit {
  background-color: #4056a1;
  color: #ffff;
  border: 0px;
}

.error {
  height: 60px;
  margin: 0px 0px 20px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid red;
  color: red;
}

.error-empty {
  display: none;
}

.error-long {
  display: none;
}

.fa-exclamation-triangle {
  color: red;
}
